@use "../../../variables" as *;
@use "./index.scss" as *;

// ============ 思考过程 ============
.reasoning-content {
  font-size: $t-xs;
   background: hsl(24, 10%, 5%);
  color: var(--b3-theme-on-surface);
  opacity: 0.7;
  line-height: $lh-relaxed;
  white-space: pre-wrap;
  word-break: break-word;
  max-height: 200px;
  overflow-y: auto;
}
