@use "@/variables.scss" as *;

// ==================== 删除确认 — DeleteConfirmModal.vue ====================

.vp-delete-msg {
  margin: 0 0 $s-4;
  color: var(--b3-theme-on-background);
  font-size: $t-xs;
  line-height: $lh-normal;
  font-family: $ff-zh;
}
