@use "@/variables.scss" as *;

.setting-label {
  display: flex;
  align-items: center;
  gap: $s-1;
  font-size: $t-xs;
  font-weight: $fw-semibold;
  color: var(--b3-theme-on-surface);
  margin: 0;
}

.label-icon {
  font-size: $t-sm; // 图标包裹容器基准尺寸
  opacity: 0.8;
}

.setting-value {
  margin-left: auto;
  font-size: $t-2xs;
  padding: $s-px2 $s-1;
  background: var(--b3-theme-primary);
  color: var(--b3-theme-on-primary);
  border-radius: $r-md;
  font-weight: $fw-semibold;
}
